<!-- load in static folder for styling or images -->
{% load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}

    <!-- If an employee go here -->
    {% if group.name == "Customers" %}
    <!--  <p>Customer Account</p>   -->
        <!--- Customer Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid m-3">
            <ul class="nav navbar-nav">
              <li class="nav-item p-2 text-uppercase">
                <a class="text-decoration-none" href="{% url 'customers:index' %}">Home</a>
              </li>
              <li class="nav-item p-2 text-uppercase">
                <a class="text-decoration-none" href="{% url 'customers:my_account' %}">My Account</a>
              </li>
              <li class="nav-item p-2 text-uppercase">
                <a class="text-decoration-none" href="{% url 'customers:pickup_day' %}">Change Pick Up Day</a>
              </li>
              <li class="nav-item p-2 text-uppercase">
                <a class="text-decoration-none" href="{% url 'customers:suspension' %}">Suspend Pickups</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-sm position-relative">
          <p><a class="btn btn-primary m-5 position-absolute bottom-0 end-0 text-uppercase" href="{% url 'logout' %}">Log Out</a></p>
        </div>
    
    <!-- If an employee go here -->
    {% elif group.name == "Employees" %}
    <nav class="navbar navbar-expand-lg navbar-lilght bg-light">
      <div class="container-fluid m-3">
        <ul class="nav navbar-nav">
          <li class="nav-item p-2 text-uppercase">
            <a class="text-decoration-none" href="{% url 'employees:index' %}">Employee Home</a>
          </li>
          <li class="nav-item p-2 text-uppercase">
            <a class="text-decoration-none" href="{% url 'employees:register_pickup' %}">Register New Pickups</a>
          </li>
          <li class="nav-item p-2 text-uppercase">
            <a class="text-decoration-none" href="{% url 'employees:customers_by_day' %}">Filter</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-sm position-relative">
      <p><a class="btn btn-primary m-5 position-absolute bottom-0 end-0 text-uppercase" href="{% url 'logout' %}">Log Out</a></p>
    </div>
    {% endif %}
  {% endfor %}
{% endif %}
  <main>
    <div class="container-fluid">
      <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
    </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}