{% extends 'base.html' %}

{% block title %} MWM.com {% endblock %}

{% block header %} Midwest Waste Management {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hello {{ user.username }}. You don't have a group assigned. Please contact administrator or attempt to register again.
  <p></p><a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a></p>
{% else %}

<h3 class="col-sm-6 mb-4 bg-warning p-2 rounded text-center">Please Login or Signup.</h3>

    <a class="btn btn-primary text-uppercase mb-2 col-sm-6" href="{% url 'login' %}">Log In</a><br>
      
    <a class="btn btn-primary text-uppercase col-sm-6" href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}
{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}