{% extends 'base.html' %}

{% block title %} MWM.com {% endblock %}

{% block header %} Midwest Waste Management {% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hello {{ user.username }}. You don't have a group assigned. Please contact administrator or attempt to register again.
  <p></p><a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <div class="container-fluid m-3">
    <p class="fw-bold">Please login or create an account.</p>

    <div class="row m-2 col-6"></div>
      <a class="btn btn-primary text-uppercase m" href="{% url 'login' %}">Log In</a>
      
      <a class="btn btn-primary text-uppercase" href="{% url 'accounts:register' %}">Sign Up</a>
    </div>
  </div>
{% endif %}
{% endblock %}

{# This is the home page that allows a logged out user to register or log in #}