{% extends 'base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Hello {{ current_employee.name }}! {% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    <h3 class="row col-sm-6 mb-2 bg-warning p-2 rounded">Today's Customers: </h3>
    
    <ul class="list-group list-group-flush m-2 rounded">
        {% for customer in todays_customers %}
        <li class="list-group-item row col-sm-6 bg-info border border-light fw-bold text-dark">
          {{customer.name}} <br> 
          {{customer.address}}
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-success" href="{% url 'employees:register_pickup' %}">Register New Pickups</a>
    <a class="btn btn-success" href="{% url 'employees:search_completed_pickups' %}">Search Completed Pickups</a>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}