{% extends 'base.html' %}

{% block title %}{% block header %} Search Completed Pickups {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="container-fluid m-3">
    
    <form action="{% url 'employees:search_completed_pickups' %}" method="post" class="container">
        {% csrf_token %}
        <div class="row mb-2 col-sm-9">
          <div class="input-group">
            <input class="form-control col-sm-3" type="date" name="filter_date"></input>
            
                <select class="form-control dropdown col-sm-5" name="filter_customer">
                  <option class="dropdown-item" value="none" selected disabled hidden> Select A Customer </option>
                  {% for customer in matched_customers %}
                  <option class="dropdown-item" value="{{customer.pk}}"> {{customer.name}} {{customer.address}}</option>
                  {% endfor %}
                </select>
            
            <button type="submit" class="form-control btn btn-primary col-sm-1">Search</button>
          </div>
        </div>
        
    </form>
    <ul class="row mb-2 col-sm-9">
      <li class="list-group-item col-sm-9 m-1 bg-primary rounded border-end border-light text-white text-center p-1">{{search_results_string}}: </li> 
    </ul>
    <ul class="row mb-2 col-sm-9">
      <li class="list-group-item col-sm-3 m-1 bg-danger rounded border-end border-light text-white text-center p-1"> Customer ID </li>  
      <li class="list-group-item col-sm-3 m-1 bg-danger rounded border-end border-light text-white text-center p-1"> Pickup Date </li> 
      <li class="list-group-item col-sm-3 m-1 bg-danger rounded border-end border-light text-white text-center p-1"> Customer Address </li>
  </ul>
    <ul class="row mb-2 col-sm-9">
        {% for pickup in search_results %}
        <li class="list-group-item col-sm-3 m-1 bg-success rounded border-end border-light text-white text-center p-1"> {{pickup.customer_id}} </li>  
        <li class="list-group-item col-sm-3 m-1 bg-success rounded border-end border-light text-white text-center p-1"> {{pickup.date}} </li> 
        <li class="list-group-item col-sm-3 m-1 bg-success rounded border-end border-light text-white text-center p-1"> {{pickup.customer.address}} </li>
        {% endfor %}
    </ul>
  </div>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}